@import url('./font.css');
@import url('./responsive.css');
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'yummosemibold';
    overflow-x: hidden;
}

body {
    background: #f5f7f8;
    min-height: 100%;
    color: #434343;
    transition: all .3s ease-in;
}

body.mobile {
    border-radius: 10px;
    background: rgb(247, 183, 14);
    background: linear-gradient(-58deg, #f7b70e 0%, #ffea00 100%);
    overflow: hidden;
}

::-webkit-input-placeholder {
    /* Edge */
    color: rgba(16, 15, 13, .3);
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(16, 15, 13, .3);
}

::placeholder {
    color: rgba(16, 15, 13, .3);
}

.validation-error::-webkit-input-placeholder {
    /* Edge */
    color: red;
}

.validation-error:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.validation-error::placeholder {
    color: red;
}

:focus {
    outline: none;
}

a {
    font-family: 'yummosemibold';
    text-decoration: none;
    transition: all 0.3s ease;
    color: #434343;
    font-size: 1em;
}

input[type=file] {
    display: none !important;
}

body.mobile .wrapper {
    overflow: hidden;
}

.row {
    display: flex;
}

.col {
    width: 6.25%;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 1em;
}

.p-3 {
    padding: 3%;
}

.pt-1 {
    padding-top: 1em;
}

.pb-1 {
    padding-bottom: 1em;
}

.pl-1 {
    padding-left: 1em;
}

.pr-1 {
    padding-right: 1em;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 1em;
}

.m-2 {
    margin: 2%;
}

.m-3 {
    margin: 3%;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: 1em;
}

.ml-2 {
    margin-left: 2em;
}

.ml-3 {
    margin-left: 3em;
}

.ml-4 {
    margin-left: 1.5em;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-2 {
    margin-right: 2em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.wrapper {
    width: 100%;
    height: auto;
    min-height: 100%;
    display: flex;
}

nav {
    float: left;
    width: 219px;
    position: relative;
}

body.mobile nav {
    position: relative !important;
    width: auto;
    background: none;
    transform: translateX(0);
}

nav .menu-container {
    position: fixed;
    width: 219px;
    background: url(../img/sidebar-bg.png);
    background-size: 219px 100%;
    background-position: 0 358px;
    background-repeat: space;
    transition: transform .3s ease-in;
    height: 100%;
}

nav .logo img {
    margin: 20px 0 0 60px;
}

nav .nav-top {
    width: 219px;
    height: 358px;
    background: url('../img/sidebar-top-bg.png') no-repeat;
}

nav .brand-logo-area {
    position: relative;
    margin: 80px 0 0 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 61px 0px rgba(250, 185, 9, 0.77);
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .brand-logo-area:hover:after {
    content: '';
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 61px 0px rgba(250, 185, 9, 0.77);
    position: absolute;
    width: 120px;
    height: 120px;
    left: 0;
    right: 0;
    margin: auto;
}

nav .brand-logo-area .brand-logo-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

nav .brand-logo-area .brand-logo-container img {
    width: 100%;
}

nav .brand-logo-area div.change-brand-logo {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: url(../img/change-logo-icon.png);
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

nav .brand-logo-area:hover div.change-brand-logo {
    display: block;
}

nav .menu {
    position: relative;
    width: 219px;
}

nav .menu ul {
    margin: 0 0 0 60px;
    padding: 0;
}

nav .menu ul li {
    list-style: none;
    line-height: 50px;
}

nav .menu ul li.line {
    text-align: left;
    background: rgba(0, 0, 0, .2);
    height: 1px;
    line-height: 50px;
    margin: 10px 0;
    width: 85%;
}

nav .menu ul li hr {
    width: 85%;
    border: .3px solid rgba(0, 0, 0, .2);
    float: left;
}

nav .menu .hover-slide {
    width: 100%;
    height: 115px;
    background: url('../img/menu-hover-effect.png') right center no-repeat;
    position: absolute;
    left: 45px;
    transition: top .5s ease;
}

nav .menu .hover-slide:after {
    position: absolute;
    content: '';
    width: 213px;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
    left: -10px;
    top: 32px;
}

nav .menu ul li:first-child {
    margin-top: 0;
}

nav .menu ul li a {
    position: relative;
    z-index: 200;
    display: block;
}

nav .menu ul li.language {
    margin-top: 20px;
    height: 20px;
}

nav .menu ul li.language a {
    font-family: 'yummolight';
    display: inline;
}

nav .menu ul li.language a.active {
    font-family: 'yummobold';
    color: #434343;
}

nav .menu ul li.log-out {
    margin-top: 10px;
}

nav .menu ul li.log-out a {
    font-size: 1.2em;
}

nav .menu ul li.language a:hover,
nav .menu ul li.log-out a:hover {
    color: #434343;
}

div.mobile {
    display: none;
    background: url('../img/mobile-menu-bg.png') no-repeat;
    background-position-y: -7px;
    border-top: 5px solid #fee302;
    height: 121px;
    width: 100%;
    position: relative;
    background-size: 150px;
}

div.mobile img.logo {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 130px
}

body.mobile div.mobile {
    background: none;
    border-top: 5px solid transparent;
    height: 90px;
}

div.mobile .close-icon {
    display: none;
    position: absolute;
    left: 30px;
    top: 25px;
}

body.mobile div.mobile .close-icon {
    display: inline-block;
}

div.mobile .menu-items {
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 20px;
}

body.mobile div.mobile .menu-items {
    display: none;
}

div.mobile .menu-items span {
    display: block;
    width: 60px;
    height: 5px;
    background: #434343;
    margin-bottom: 5px;
    border-radius: 2px;
}

div.mobile span:first-child {
    width: 50px;
}

div.mobile span:last-child {
    width: 40px;
}

body section.container {
    height: auto;
    min-height: 100%;
    padding: 5% 0 0 5%;
    width: 100%;
    box-sizing: border-box;
    transition: all .3s ease-in;
    overflow-x: hidden;
    position: relative;
}

body section.container .container-area {
    height: auto;
}

body.mobile section.container {
    transform: scale(.7) translateY(60px) translateX(50%);
    background: white;
    border-radius: 20px;
    padding: 15px 0 0 0 !important;
    height: 600px;
    position: relative;
    display: block;
    overflow: hidden !important;
}

body.mobile section.container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

body.mobile section.container div.container-area {
    overflow: hidden;
    height: 550px;
    position: absolute;
    left: 20px;
    right: 20px;
}

table {
    font-family: 'yummoregular';
}

table.dataTable thead span.sort-icon {
    display: inline-block;
    padding-left: 10px;
    width: 11px;
    height: 17px;
}

table.dataTable tbody tr.selected {
    background-color: white !important;
}

table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable thead .sorting span {
    background: url('../img/sort_both.png') no-repeat center right;
}

table.dataTable thead .sorting_asc span {
    background: url('../img/sort_asc.png') no-repeat center right;
}

table.dataTable thead .sorting_desc span {
    background: url('../img/sort_desc.png') no-repeat center right;
}

table.dataTable thead .sorting_asc_disabled span {
    background: url('../img/sort_asc_disabled.png') no-repeat center right;
}

table.dataTable thead .sorting_desc_disabled span {
    background: url('../img/sort_desc.png') no-repeat center right;
}

table.dataTable thead .action.sorting span {
    background: none !important;
}

table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting {
    background-image: none;
}

.table-data {
    overflow-x: scroll;
    padding: 5% 5% 0 2%;
}

body.mobile section.container .table-data {
    padding-top: 35%;
    margin-left: 4%;
}

.table-data table {
    min-width: 900px;
}

.table-data table thead th,
.table-data table thead td {
    border: none;
}

.table-data table.personal {
    border-spacing: 0 10px;
    margin-bottom: 130px;
}

.table-data table.personal thead {
    background: #fddf03;
    border: none;
}

.table-data table.personal tr {
    height: 60px;
}

.table-data table.personal tbody tr td {
    text-align: center;
}

.table-data table.personal tr th:first-child,
.table-data table.personal tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table-data table.personal tr th:last-child,
.table-data table.personal tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-data table.personal tr td.action {
    text-align: right;
}

.table-data table.personal tr td.action span {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.table-data table.personal tr td.action span.delete-btn {
    background: url('../img/close-btn2-icon.png') no-repeat;
    background-size: contain;
}

.table-data table.personal tr td.action span.delete-btn:hover {
    background: url('../img/close-btn-icon.png') no-repeat;
    background-size: contain;
}

.table-data table.personal tr td.action span.add-btn {
    background: url('../img/okay-btn-icon.png') no-repeat;
    background-size: contain;
}

.table-data table.personal tr td.action img {
    height: 40px;
}

.table-data table.personal tr td input {
    width: 95%;
    height: 40px;
    border: none;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 7px;
}

.table-data table.personal tr td input.validation-error {
    border: 1px solid red;
}

.add-new-table-row {
    position: absolute;
    right: 3%;
    bottom: 3%;
    filter: drop-shadow(2px 4px 6px rgb(70, 70, 70));
    --webkit-filter: drop-shadow(2px 4px 6px rgb(70, 70, 70));
}

.table-data.custom-table {
    position: relative;
    overflow-x: unset;
    margin-top: -30px;
}

body.mobile .table-data.custom-table {
    margin-top: 65%;
}

body.mobile .table-data.manager-screen {
    display: none;
}

.table-data.custom-table .dataTables_wrapper {
    border: 10px solid white;
    background: rgb(254, 226, 2);
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.table-data.custom-table .dataTables_wrapper .dataTables_length {
    padding: 20px;
    float: none;
    display: inline-block;
}

.table-data.custom-table .dataTables_wrapper .dataTables_filter {
    padding: 20px;
    float: left;
}

.table-data.custom-table .dataTables_wrapper .dataTables_paginate {
    position: absolute;
    right: 20px;
    top: 20px;
}

.table-data.custom-table .dataTables_wrapper .dataTables_paginate .paginate_button {
    background: transparent;
    border: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    padding: unset;
}

.table-data.custom-table .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
    margin-right: 15px;
}

.table-data.custom-table .dataTables_wrapper .dataTables_paginate .paginate_button.next {
    margin-left: 15px;
}

.table-data.custom-table .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: white;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9px 0px rgba(112, 80, 10, 0.42);
}

.table-data.custom-table .dataTables_wrapper .dataTables_filter input {
    border-radius: 10px;
    border: none;
    width: 250px;
    padding: 10px 35px 10px 10px;
    box-sizing: border-box;
    background: url('../img/search-icon.png') no-repeat rgba(112, 112, 112, 0.1);
    background-position: 95% 5px;
    background-size: 25px;
}

.table-data.custom-table .dataTables_wrapper select[name=DataTables_Table_0_length] {
    border: 0;
    width: 60px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/datepicker-arrow.png);
    background-repeat: no-repeat;
    background-position: 84% 13px;
    background-size: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    color: #434343;
    box-sizing: border-box;
    background-color: rgba(112, 112, 112, 0.1);
}

.table-data.custom-table .dataTables_wrapper select[name=DataTables_Table_0_length]::-ms-expand {
    display: none;
}

.table-data.custom-table .dataTables_wrapper .table-container {
    overflow-x: scroll;
    width: 100%;
    margin-top: -20px;
}

.table-data.custom-table table {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: white;
}

.table-data.custom-table table tbody tr td {
    text-align: center;
}

.table-data.custom-table .table-right-corner {
    position: absolute;
    right: 5%;
    width: 200px;
    height: 50px;
    background: rgb(254, 226, 2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;
    bottom: 505px;
    z-index: 1;
    text-align: right;
}

.table-data.custom-table .table-right-corner span {
    padding: 10px 5px 10px 0;
    display: inline-block;
    margin-top: 17px;
    font-size: 1rem;
}

.table-data.custom-table .table-right-corner strong {
    font-size: 1.5rem;
    margin-right: 15px;
    margin-top: 17px;
}

.text-right {
    text-align: right;
}

section.container .left-area {
    width: 50%;
    padding: 0 2%;
    position: relative;
}

section.container .text-area h2 {
    font-size: 3.5em;
    margin: 0;
}

section.container .text-area span {
    font-size: 1em;
    width: 100%;
    display: block;
}

section.container .text-area span.textarea textarea.comment {
    border: none;
    width: 100%;
    height: 70px;
    font-size: 1em;
    padding: 10px;
    font-size: .7em;
}

section.container .text-area .text-buttons {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

section.container .text-area .text-buttons a {
    color: #8fa3aa;
}

section.container .text-area .text-buttons a.active,
section.container .text-area .text-buttons a:hover {
    color: #434343;
}

section.container .text-area .edit {
    float: left;
}

section.container .text-area .save {
    float: right;
}

section.container .right-area {
    width: 50%;
    padding: 0 2%;
    margin-top: 100px;
}

section.container .right-area .boxes {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 33px;
}

section.container .right-area .box {
    border-radius: 20px;
    background: white;
    padding: 25px;
    width: 47%;
    box-sizing: border-box;
    display: flex;
}

section.container .right-area .box .box-icon img {
    width: 100%;
}

section.container .right-area .box .text {
    margin-left: 10%;
    width: 50%;
    margin-top: -10px
}

section.container .right-area .box .text .key {
    font-family: 'yummobold';
    font-size: 1.1em;
}

section.container .right-area .box .text .value {
    font-family: 'yummolight';
    font-size: 2em;
}

section.container .right-area .box.dhcp,
section.container .right-area .box.success {
    margin-top: 6%;
}

section.container .right-area .box:nth-child(2n) {
    margin-left: 6%;
}

.custom-select {
    position: relative;
    border: 0;
    width: 80%;
    height: 60px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/selectbox-icon.png) #fff;
    background-repeat: no-repeat;
    background-position: 100% -5px;
    background-size: 63px 72px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 1.2em;
    margin: 4% auto 0 auto;
    color: #434343;
    display: block;
}


/* For IE10 */

.custom-select::-ms-expand {
    display: none;
}

.area-chart-img {
    margin-top: 0 !important;
}

.zoom-icons {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 1;
}

.zoom-icons a {
    display: block;
}

.form-container {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
    margin-bottom: 20px;
}

.form-container input {
    width: 230px;
    height: 30px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2em;
    margin-bottom: 20px;
    display: block;
}

.form-container .custom-select {
    margin: 0 0 20px 0;
    width: 270px;
    background-position-x: 208px;
    height: 50px;
    background-position-y: -11px;
}

.btn {
    width: 130px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    border: none;
    font-size: 1.1em;
    color: inherit;
}

.btn.delete {
    color: white;
    background: #fa3609;
    background: linear-gradient(-90deg, #ff0000 0%, #fa3609 100%);
}

.btn.save {
    margin-left: 7px;
    background: #fac709;
    background: linear-gradient(-90deg, #ffea00 0%, #fac709 100%);
    font-family: 'yummosemibold';
}

.tab-close {
    position: absolute;
    right: 20px;
    top: 30px;
    display: none;
    cursor: pointer;
    z-index: 1;
}

.tab-close img {
    width: 40px
}

.vertical {
    display: flex;
    margin-top: 30px;
}

.vertical .progress-bar {
    height: 150px;
    width: 5px;
    margin: 0 auto 40px auto;
}

.vertical .progress-bar .chart-label {
    position: absolute;
    bottom: -30px;
    width: 50px;
    left: -25px;
    right: 0;
    margin: 0 auto;
    color: #434343;
    font-size: .8em
}

.vertical .progress-track {
    position: relative;
    width: 5px;
    height: 100%;
    background: #f0f4f7;
}

.vertical .progress-fill {
    position: absolute;
    background: #445568;
    height: 0;
    bottom: 0;
    width: 5px;
    color: #fff;
    text-align: center;
    font-family: "Lato", "Verdana", sans-serif;
    font-size: 12px;
    line-height: 20px;
    transition: all 1s ease-in-out;
}

.rounded .progress-track,
.rounded .progress-fill {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.rounded .values span {
    display: block;
    margin-bottom: 15px;
    margin-right: 20px;
    font-size: .8em;
}